# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*$py.class

# Local data & processed output folders
data/
outputs/
data_processed_dummy/

# Environments
.venv/
env/
venv/
ENV/

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db
