# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*$py.class

# Ignore raw data files & zips only (preventing >100MB raw files)
data/raw/
raw_dataset.zip
*.zip
*.tar.gz
*.dat

# Environments
.venv/
env/
venv/
ENV/

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db
